body {
  background-image: url("../img/bon-iver.jpeg");

}

.something {
  text-align: center;
  background-color: salmon;
  border: 3px solid purple;
  padding: 3px;
}


.sidebar {
  background-color: salmon;
  border: 6px solid yellow;
  float: right;
  text-align: center;
}
